.App{
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

.Photo{
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 600px;
}

.Title{
  display: flex;
  justify-content: center;
  color: firebrick;
}

.Info {
  display: flex;
  justify-content: center;
  color: orangered;
}